<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="http://www.mediusflow.com/en/Products"><b>Our Products</b></a></li>
          <li><a href="http://www.mediusflow.com/en/Products/MediusFlow-Invoice">MediusFlow Invoice</a></li>
          <li><a href="http://www.mediusflow.com/en/Products/MediusFlow-Match">MediusFlow Match</a></li>
          <li><a href="http://www.mediusflow.com/en/Products/MediusFlow-Procurement">MediusFlow Procurement</a></li>
          <li><a href="http://www.mediusflow.com/en/Products/MediusFlow-Contract">MediusFlow Contract</a></li>
          <li><a href="http://www.mediusflow.com/en/Products/Data-capture-and-e-invoicing">Data capture and e-invoicing</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><a href="http://www.mediusflow.com/en/Contact"><b>Contact Us</b></a></li>
          <li><a href="http://www.mediusflow.com/en/Contact#c-support">Sales</a></li>
          <li><a href="http://www.mediusflow.com/en/Contact#c-support">Support</a></li>
          <li><a href="http://www.mediusflow.com/en/Jobs">Jobs</a></li>
          <li><a href="https://mediusflow.uservoice.com/">Feedback</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Medius is a leading provider of AP invoice automation solutions in the cloud. MediusFlow automates and simplifies the entire P2P process.</p>
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
