<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        <header class="page-content-header">
            <div class="inner-header">
                <h1>{{ page.title}}</h1>
            </div>
        </header>

      <div class="wrapper page-content-wrapper">
        {{ content }}
       <table id="status_table" border='1'>
      </table>

      <img class="spinner" src="/assets/shared/slds_spinner_brand.gif" width="75" height="75">
          
      </div>
    </div>

    <!--{% include footer.html %}-->

  </body>
  <script src="/js/status.js"></script>
</html>
